/* line 8, ../../app/assets/stylesheets/ie.css.scss */
div.panel {
  border: 1px solid #cccccc;
}

/* line 12, ../../app/assets/stylesheets/ie.css.scss */
.lt-ie8 .nav-bar li.has-flyout a {
  padding-right: 20px;
}
/* line 14, ../../app/assets/stylesheets/ie.css.scss */
.lt-ie8 .nav-bar li.has-flyout a:after {
  border-top: none;
}
