<div class="row">
	<div class="twelve columns">
		<h2 class="doomker">Doomkër</h2>
		<p class="slogan"><%=t :slogan %></p>
		<hr />
	</div>
</div>
<div class="row">
	<div class="eight columns">
		<h3>Quiénes Somos</h3>
		<!-- Grid Example -->
		<div class="row">
			<div class="twelve columns">
				<div class="panel">
					<p>
						<span class="doomker">Doomkër</span> es una empresa jóven que nació para dejar atrás el trabajo manual y la baja productividad. 
						En <span class="doomker">Doomkër</span> creemos que las personas deberían ocuparse sólo de aquello que el <i>software</i> no puede, 
						de aquello que les ocupa el tiempo con tareas repetitivas
						que podrían ser automatizadas. En <span class="doomker">Doomkër</span> creemos en la innovación y el rendimiento pero por sobretodo 
						en trabajar duro para que las personas puedan dedicarse a lo que realmente saben hacer: producir. 
					</p> 
				</div>
			</div>
		</div>
		
		<h3>Qué hicimos</h3>
		<dl class="tabs">
			<dd>
				<a href="#webs" class="active">Webs</a>
			</dd>
			<dd>
				<a href="#sistemas-web">Sistemas Web</a>
			</dd>
			<dd>
				<a href="#sistemas-escritorio">Sistemas de Escritorio</a>
			</dd>
		</dl>
		<ul class="tabs-content">
			<li class="active" id="websTab">
				<ul class="pretty">
					<li>
						<a href="http://www.ainoa.com.ar">Ainoa Web</a>
					</li>														
					<li>
						<a href="http://www.siriagroup.com">Siria Group</a>
					</li>																							
					
					<li>
						<a href="http://www.nectarmusica.com">Nectar Música</a>
					</li>										
					
					<li>
						<a href="http://www.ambarweb.com.ar">Ambar</a>
					</li>
					
					<li>
						<a href="http://www.ceur-conicet.gov.ar">Centro de Estudios Urbanos y Regionales - CONICET</a> 
					</li>									
					
					<li>
						<a href="http://www.revuerectoverso.com">RectoVerso</a>
					</li>										
					
					<li>
						<a href="http://www.pepkogroup.com.ar">PepkoGroup</a>
					</li>			
				</ul>
			</li>
			<li id="sistemas-webTab">
				<ul class="pretty">
					<li>
						<a href="http://www.palermotenis.com.ar">Palermo Tenis</a>
					</li>	
				</ul>				
			</li>
			<li id="sistemas-escritorioTab">
				<ul class="pretty">
					<li>						
						<a href="http://www.metalurgicacortes.com">
							<img src="/images/metcortes.jpg" alt="Metalurgica_Cortes" />
						</a>
					</li>	
				</ul>								
			</li>
		</ul>
	</div>
	<div class="four columns">
		<h4>Socios Estratégicos</h4>
		<div class="panel">
			<p>
				¡Nos complace tener como socios a <a href="http://mapixstudio.com.ar/">Mapix Studio</a>!
			</p>
		</div>
		<h4>Contacto</h4>
		<p>
			Estos son los medios para contactarnos:
		</p>
		<ul class="disc">
			<li>
				<a href="mailto:pablo.santiago@gmail.com">Email</a>
				<br />
				Por correo electrónico
			</li>
			<li>
				<a href="#">Teléfono</a>
				<br />
				+54 11 5274 6537
			</li>			
		</ul>
	</div>
	<div id='footer'>
		<p>
			Doomkër es una empresa de Pablo Santiago
		</p>
	</div>
</div>