<div class="row">
	<div class="twelve columns">
		<h2 class="doomker">Doomkër</h2>
		<p class="slogan"><%=t :slogan %></p>
		<hr />
	</div>
</div>
<div class="row">
	<div class="eight columns">
		<h3>Quiénes Somos</h3>
		<!-- Grid Example -->
		<div class="row">
			<div class="twelve columns">
				<div class="panel">
					<p>
						<span class="doomker">Doomkër</span> es una empresa jóven que nació para dejar atrás el trabajo manual y la baja productividad. 
						En <span class="doomker">Doomkër</span> creemos que las personas deberían ocuparse sólo de aquello que el <i>software</i> no puede, 
						de aquello que les ocupa el tiempo con tareas repetitivas
						que podrían ser automatizadas. En <span class="doomker">Doomkër</span> creemos en la innovación y el rendimiento pero por sobretodo 
						en trabajar duro para que las personas puedan dedicarse a lo que realmente saben hacer: producir. 
					</p> 
				</div>
			</div>
		</div>
		
		<h3>Qué hicimos</h3>
		<dl class="tabs">
			<dd>
				<a href="#webs" class="active">Webs</a>
			</dd>
			<dd>
				<a href="#sistemas-web">Sistemas Web</a>
			</dd>
			<dd>
				<a href="#sistemas-escritorio">Sistemas de Escritorio</a>
			</dd>
		</dl>
		<ul class="tabs-content">
			<li class="active" id="websTab">
				<ul class="pretty">
					<li>www.panamcorazon.com.ar</li>					
					
					<li>www.siriagroup.com</li>																							
					
					<li>www.nectarmusica.com</li>										
					
					<li>www.ambarweb.com.ar</li>					
					
					<li>www.ceur-conicet.gov.ar</li>													
					
					<li>www.revuerectoverso.com</li>										
					
					<li>www.pepkogroup.com.ar</li>										
				</ul>
			</li>
			<li id="sistemas-webTab">
				Acá va el listado de sistemas web que hice
			</li>
			<li id="sistemas-escritorioTab">
				Acá va el listado de sistemas de escritorio que hice
			</li>
		</ul>
	</div>
	<div class="four columns">
		<h4>Getting Started</h4>
		<p>
			We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.
		</p>
		<h4>Other Resources</h4>
		<p>
			Once you've exhausted the fun in this document, you should check out:
		</p>
		<ul class="disc">
			<li>
				<a href="http://foundation.zurb.com/docs">Foundation Documentation</a>
				<br />
				Everything you need to know about using the framework.
			</li>
			<li>
				<a href="http://github.com/zurb/foundation">Foundation on Github</a>
				<br />
				Latest code, issue reports, feature requests and more.
			</li>
			<li>
				<a href="http://twitter.com/foundationzurb">@foundationzurb</a>
				<br />
				Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).
			</li>
		</ul>
	</div>
	<div id='footer'>Doomkër es una empresa de Pablo Santiago</div>
</div>