// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Project Styles
//-----------------------------------------
@import "blueprint";
@import "compass/layout/sticky-footer";
@import "compass/typography/lists/bullets";
@import "compass/typography/links/hover-link";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Marck+Script);
@import url(http://fonts.googleapis.com/css?family=Homemade+Apple);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@include sticky-footer(72px);

ul.pretty {
  @include pretty-bullets('/images/gray_bullet.png', 6px, 10px);
  a {
    @include hover-link;
  }
}

#logo     { margin-top: 20px; } 
#footer   { background: #cccccc; }

h3, h4    {font-family: 'Homemade Apple', cursive;}
.doomker  {font-family: 'Gloria Hallelujah', cursive; }
.slogan   {font-family: 'Marck Script', cursive; font-size: 24px;}

h2.doomker {font-size: 32px; }
#root dl.tabs {font-family: 'Open Sans', sans-serif;}
