// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blueprint_grid_columns: 2;
$blueprint_grid_width: 450px;

// Project Styles
//-----------------------------------------
@import "blueprint";
@import "compass/layout/sticky-footer";
@import "compass/typography/lists/bullets";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Marck+Script);
@import url(http://fonts.googleapis.com/css?family=Homemade+Apple);

@include sticky-footer(72px);

ul.pretty {
  @include pretty-bullets('/images/bullet2b.gif', 10px, 10px);
}


#footer   { background: #cccccc; }

h3        {font-family: 'Homemade Apple', cursive;}
.doomker  {font-family: 'Gloria Hallelujah', cursive; }
h2.doomker {font-size: 32px; }
.slogan   {font-family: 'Marck Script', cursive; font-size: 16px;}


.container {
  @include container;
  .eight {
    @include column(1);
  }
  .four {
    @include column(1, true);
  }  
}
