<!DOCTYPE html>
<html>
<head>
  <title>Doomkër Programming</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
</head>
<body>
	<!-- container -->
	<div id="root">
		<%= yield %>
	</div>
	<!-- container -->
	<div id="footer"></div>
</body>
</html>
